version = "1.0"

[main]
name = "Readeck configuration"
services = ["__APP__"]


    [main.configuration]
    name = "Users and accounts configuration"

        [main.configuration.link]
        ask = "Public link sharing time"
        type = "boolean"
        yes = "true"
        no = "false"
        help = "Public link sharing time in hours"
        bind = "public_share_ttl:__DATA_DIR__/config.toml"
